<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/style.css">


</head>
<body>
    <nav>
        <a href="./home.html">Home</a>
        <a href="./photo-gallery.html">Photo gallery</a>
        <a href="./works.html">Works</a>
    </nav>
    <header id="about">
        <div id="aboutIMG">
            <h1>Keanu Reeves</h1>
            <img src="../public/images/KR_aboutUs.png" alt="">
        </div>
        <tr></tr>
        <div>
            <p>Keanu Charles Reeves; Beirut; 2 de septiembre de 1964. Es un actor y músico canadiense. Tiene entre su repertorio las comedias de la franquicia de Bill y Ted (1989-2020); los thrillers de acción Point Break (1991), Speed (1994) y la franquicia John Wick (2014-2022); el thriller psicológico The Devil's Advocate (1997); el thriller sobrenatural Constantine (2005); y la saga de ciencia ficción y acción The Matrix (1999-2021). También ha participado en películas dramáticas como Dangerous Liaisons (1988), My Own Private Idaho (1991) y Little Buddha (1993), así como en la película de terror y romance Bram Stoker's Dracula (1992).</p>
        </div>

    </header>
    <script src="../app.js"></script>
</body>
</html>