<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foto gallery</title>
    <link rel="stylesheet" href="../public/style.css">


</head>
<body>
    <nav>
        <a href="./home.html">Home</a>
        <a href="./about.html">About</a>
        <a href="./works.html">Works</a>
    </nav>
    <header id="work" class="hGallery">
        <h1 class="h1Gallery">Foto gallery</h1>
        <div id="containerGallery">
            <img src="../public/images/1.png" alt="" class="subContainer">
            <img src="../public/images/2.png" alt="" class="subContainer">
            <img src="../public/images/3.png" alt="" class="subContainer">
            <img src="../public/images/4.png" alt="" class="subContainer">
            <img src="../public/images/constantine.png" alt="" class="subContainer">
            <img src="../public/images/John-Wick.png" alt="" class="subContainer">
            
    </header>
    <script src="../app.js"></script>
</body>
</html>